footer {
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
  padding: 3rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  & .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font: 700 1.25rem/1.3 var(--font-syne);

    & img {
      width: 2rem;
      transition: transform 350ms;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  & nav {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    & a {
      position: relative;
      width: fit-content;

      &:hover::after {
        transform: scaleX(1);
      }

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--snitap-sky-mid);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 200ms linear;
      }
    }
  }

  & .social-links {
    display: flex;
    align-items: center;

    & a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      position: relative;

      &::before {
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: var(--snitap-sun);
        position: absolute;
        inset: 0;
        z-index: -1;
        transform: scale(0);
        transition: transform 250ms;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }
}

@media (min-width: 62rem) {
  footer {
    padding: 4rem 2rem 2rem;
    align-items: center;
    flex-direction: row;

    & nav {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
