header {
  max-width: 80rem;
  margin-inline: auto;
  width: 100%;
  padding: 1.25rem 2rem;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
      width: 2rem;
      height: 2rem;
      transition: transform 500ms;

      & &[src*="logo"]:hover {
        transform: rotate(90deg);
      }

      & &[src*="shopping"]:hover {
        transform: rotate(-30deg);
      }
    }

    & a {
      position: relative;

      & span {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        background-color: var(--snitap-sun);
        width: 1.25rem;
        height: 1.25rem;
        font: 500 .75rem/1.2 var(--ff-base);
        border-radius: 999px;display: flex;justify-content: center;align-items: center;
      }
    }
  }
}
