.hero {
  --heading-height: 2.5rem;
  max-width: 80rem;
  width: 100%;
  padding: 1.5rem 1.5rem 3rem;
  margin-inline: auto;

  & h1 {
    font-size: 2rem;

    & div {
      display: inline-block;
      overflow: hidden;
      height: var(--heading-height);
      width: min-content;
      vertical-align: bottom;
    }

    & span {
      display: block;
      animation: slideUp 6s infinite ease;
    }

    & span:nth-child(1),
    & span:nth-child(4) {
      color: var(--snitap-sky-mid);
    }

    & span:nth-child(2) {
      color: var(--snitap-joy-mid);
    }

    & span:nth-child(3) {
      color: var(--snitap-leaf-mid);
    }
  }
}

@media (min-width: 62rem) {
  .hero {
    --heading-height: 5rem;
    padding: 2.5rem 2rem;

    & h1 {
      font-size: var(--text-xl);
    }
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-1 * var(--heading-height) - 15px));
  }

  25% {
    transform: translateY(calc(-1 * var(--heading-height) + 10px));
  }

  27% {
    transform: translateY(calc(-1 * var(--heading-height) - 5px));
  }

  29% {
    transform: translateY(calc(-1 * var(--heading-height) + 5px));
  }

  33%,
  55% {
    transform: translateY(calc(-1 * var(--heading-height)));
  }

  56% {
    transform: translateY(calc(-2 * var(--heading-height) - 15px));
  }

  58% {
    transform: translateY(calc(-2 * var(--heading-height) + 10px));
  }

  60% {
    transform: translateY(calc(-2 * var(--heading-height) - 5px));
  }

  62% {
    transform: translateY(calc(-2 * var(--heading-height) + 5px));
  }

  66%,
  88% {
    transform: translateY(calc(-2 * var(--heading-height)));
  }

  89% {
    transform: translateY(calc(-3 * var(--heading-height) - 15px));
  }

  91% {
    transform: translateY(calc(-3 * var(--heading-height) + 10px));
  }

  93% {
    transform: translateY(calc(-3 * var(--heading-height) - 5px));
  }

  95% {
    transform: translateY(calc(-3 * var(--heading-height) + 5px));
  }

  100% {
    transform: translateY(calc(-3 * var(--heading-height)));
  }
}
