.hero {
  --heading-height: 2.5rem;
  max-width: 80rem;
  width: 100%;
  padding: 1.5rem 1.5rem 3rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  overflow: hidden;
  gap: 2rem;

  & h1 {
    font-size: 2rem;

    & div {
      display: inline-block;
      overflow: hidden;
      height: var(--heading-height);
      width: min-content;
      vertical-align: bottom;
    }

    & span {
      display: block;
      animation: slideUp 6s 3s infinite ease;
    }

    & span:nth-child(1),
    & span:nth-child(4) {
      color: var(--snitap-sky-mid);
    }

    & span:nth-child(2) {
      color: var(--snitap-joy-mid);
    }

    & span:nth-child(3) {
      color: var(--snitap-leaf-mid);
    }
  }

  & .buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 3rem;
    text-transform: uppercase;

    & .btn {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      border-radius: 5rem;
      transition: transform 350ms;
      width: fit-content;

      &.btn-buy {
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
      }

      &.btn-play {
        & span {
          padding: 1.5rem;
          border-radius: 999px;
          background-color: #fff;
          display: flex;
        }
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    & .shadow {
      box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.1),
        0 9px 9px rgba(0, 0, 0, 0.09),
        0 20px 12px rgba(0, 0, 0, 0.05),
        0 36px 15px rgba(0, 0, 0, 0.01);
    }
  }

  & > div:nth-child(2) {
    display: block;
    width: 100%;
    height: calc(100vw - 4rem);

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(400%);
      animation: slideIn 3s ease forwards;
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 96%;
    }

    & img[src*="patins"] {
      z-index: 1;
    }

    & img[src*="stars-1"] {
      max-width: 3.5rem;
      z-index: 0;
      left: 0.25rem;
      top: 30%;
    }

    & img[src*="stars-2"] {
      max-width: 1.5rem;
      z-index: 0;
      right: 0;
      top: 55%;
    }
  }
}

@media (min-width: 62rem) {
  .hero {
    --heading-height: 5rem;
    padding: 2.5rem 2rem;
    flex-direction: row;

    & h1 {
      font-size: var(--text-xl);
    }

    & .buttons {
      flex-direction: row;
    }

    & > div:nth-child(2) {
      max-width: 30.5rem;
      height: 30.5rem;

      & img[src*="stars-1"] {
        max-width: 5.5rem;
        left: 0.5rem;
      }

      & img[src*="stars-2"] {
        max-width: 2.5rem;
      }
    }
  }
}

@keyframes slideIn {
  85% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-1 * var(--heading-height) - 15px));
  }

  25% {
    transform: translateY(calc(-1 * var(--heading-height) + 10px));
  }

  27% {
    transform: translateY(calc(-1 * var(--heading-height) - 5px));
  }

  29% {
    transform: translateY(calc(-1 * var(--heading-height) + 5px));
  }

  33%,
  55% {
    transform: translateY(calc(-1 * var(--heading-height)));
  }

  56% {
    transform: translateY(calc(-2 * var(--heading-height) - 15px));
  }

  58% {
    transform: translateY(calc(-2 * var(--heading-height) + 10px));
  }

  60% {
    transform: translateY(calc(-2 * var(--heading-height) - 5px));
  }

  62% {
    transform: translateY(calc(-2 * var(--heading-height) + 5px));
  }

  66%,
  88% {
    transform: translateY(calc(-2 * var(--heading-height)));
  }

  89% {
    transform: translateY(calc(-3 * var(--heading-height) - 15px));
  }

  91% {
    transform: translateY(calc(-3 * var(--heading-height) + 10px));
  }

  93% {
    transform: translateY(calc(-3 * var(--heading-height) - 5px));
  }

  95% {
    transform: translateY(calc(-3 * var(--heading-height) + 5px));
  }

  100% {
    transform: translateY(calc(-3 * var(--heading-height)));
  }
}
